<!DOCTYPE html>
<html>
<head>
  <title>Nakamarra</title>
  <meta name="author" content="Sofinteractive" />
  <meta name="description" content="Nakamarra Parallax Template" />
	<meta name="keywords"  content="Parallax, sofinteractive, one page website" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'jquery.fullPage', media: 'all' %>
  <%= stylesheet_link_tag    'examples', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'jquery.fullPage.min' %>
   <%= javascript_include_tag 'examples' %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!--font awesome-->
  <script src="https://use.fontawesome.com/811422e9bc.js"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <!-- mobile -->
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified JavaScript for bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body id="bs-over">
	<div class="top" id="top">
	</div>
	<div class="menu">
		<div class="icon-close">
			<i class="material-icons">close</i>
		</div>
			<ul>
				<li><%= link_to "HOME", '/'%></li>
				<li><%= link_to "ABOUT US", '/about'%></li>
				<li><%= link_to "RECIPES", '/recipes'%></li>
				<li><%= link_to "LOCATIONS", '/locations'%></li>
			</ul>
	</div>
	<i class="material-icons" id="icon-menu">menu</i>
	<div class="main-nav">
		<%= link_to root_path, :data => { :reload => true } do %>
		<h1>Nakamarra</h1>
		<% end %>

<ul id="menu" class="pull-right">
	<li data-menuanchor="firstPage"><a href="/recipes">Recipes</a></li>
	<li data-menuanchor="secondPage"><a href="/locations">Locations</a></li>
	<li data-menuanchor="3rdPage"><a href="/about">About Us</a></li>
</ul>
</div>

<%= yield %>

<!-- mobile nav bar -->
	<script type="text/javascript">
	
	var main = function() {

	/* Push the body and the nav over by 480px over */
  $('#icon-menu').click(function() {
  	$('#icon-menu').css('background-color','#28211F');
    $('.menu').animate({
      right: "0px"
    }, 200);

    $('body').animate({
      right: "220px"
    }, 200);

  });

  /* Then push them back */
  $('.icon-close').click(function() {
  	$('#icon-menu').css('background-color', '#fff');
    $('.menu').animate({
      right: "-220px"
    }, 200);

    $('body').animate({
      right: "0px"
    }, 200);

});

};
$(document).ready(main);

	</script>

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				sectionsColor: ['#fff', '#fff', '#fff', '#fff' ],
				anchors: ['firstPage', 'secondPage', '3rdPage', '4thPage'],
				loopTop: true,
				loopBottom: true,
				slidesNavigation: true,
				afterLoad: function(anchorLink, index){

					//section 2
					if(index == 2){
						//moving the image
						$('#section1').find('i').delay(100).animate({
							left: '0%'
						}, 500, 'easeOutExpo');

						$('#section1').find('p').fadeIn(500, function(){
							$('#section1').find('p').fadeIn(500);
						});;

					}

					//section 3
					if(anchorLink == '3rdPage'){
						//moving the image
						$('#section2').find('.intro').delay(200).animate({
							left: '0%'
						}, 500, 'easeOutExpo');
					}
				}
			});
		});
	</script>
	<style>
		#section1 i {
			left: 300%;
			position:relative;
		}
		#section1 p{
			display:none;
		}
		#section2 .intro{
			left: -130%;
			position:relative;
		}
	</style>


</body>
</html>
