<!DOCTYPE html>
<html>
<head>
  <title>Caf&eacute; Don Lucas</title>
  <meta name="author" content="Sofinteractive" />
  <meta name="description" content="Caf&eacute; Don Lucas, caf&eacute; guatemalteco 100% org&aacute;nico cosechado a las faldas del volc&aacute;n Tajumulco." />
	<meta name="keywords"  content="Parallax, sofinteractive, caf&eacute;, don lucas, guatemala, san marcos, barista, caf&eacute; guatemalteco." />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'jquery.fullPage', media: 'all' %>
  <%= stylesheet_link_tag    'examples', media: 'all' %>
  <%= javascript_include_tag 'application'%>
   <%= javascript_include_tag 'jquery.fullPage.min' %>
   <%= javascript_include_tag 'examples' %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!--font awesome-->
  <script src="https://use.fontawesome.com/811422e9bc.js"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <!-- mobile -->
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified JavaScript for bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>
<body id="bs-over">
	<div class="top" id="top">
	</div>
	<div class="menu">
		<div class="icon-close">
			<i class="material-icons">close</i>
		</div>
			<ul>
				<li><%= link_to "INICIO", '/', :data => {:reload => true} %></li>
				<li><%= link_to "SOBRE NOSOTROS", '/about',:data => { :reload => true } %></li>
				<li><%= link_to "UBICACIONES", '/locations'%></li>
				<li><%= link_to "PREGUNTAS FRECUENTES", '/faq'%></li>
			</ul>
	</div>
	<i class="material-icons" id="icon-menu">menu</i>
	<div class="main-nav">
		<%= link_to '/', :data => { :reload => true } do %>
		<img src="/images/Logo1Blanco.png" style="width:200px;height:135px;">
		<% end %>

<ul id="menu" class="pull-right">
	<li><a href="/locations">Ubicaciones</a></li>
	<li><a href="/about">Sobre Nosotros</a></li>
	<li><a href="/faq">Preguntas Frecuentes</a></li>
</ul>
</div>

<%= yield %>

<!-- mobile nav bar -->
	<script type="text/javascript">
	
	var main = function() {

	/* Push the body and the nav over by 480px over */
  $('#icon-menu').click(function() {
  	$('#icon-menu').css('background-color','#000');
    $('.menu').animate({
      right: "0px"
    }, 200);

    $('body').animate({
      right: "220px"
    }, 200);

  });

  /* Then push them back */
  $('.icon-close').click(function() {
  	$('#icon-menu').css('background-color', '#fff');
    $('.menu').animate({
      right: "-220px"
    }, 200);

    $('body').animate({
      right: "0px"
    }, 200);

});

};
$(document).ready(main);

	</script>



</body>
</html>
